@import url(iphone.css);

@media (prefers-color-scheme: dark) {

    li::before {
        filter: invert(1);
    }
  }
  
  @media (prefers-color-scheme: light) {
    li::before {
        filter: invert(0);
    }
  }

* {
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body,
h1 {
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
    /* font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
    overflow: -moz-scrollbars-none;
    /* background-color: var(--background-color); */
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

::-webkit-scrollbar {
    width: 0px;
    /* background: blue; */
    /* padding-right: 400px; */
}

.center {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 1;
    position: relative;
    text-align: center;
}

#bganim {
    position: fixed;
    z-index: -999;
}

.card {
    background-color: var(--background-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* padding: 100px 100px 100px 100px; */

    /* box-shadow: 0px 0px 20px 27px white; */
    /* -webkit-box-shadow: 1px 10px 20px 27px rgba(0,0,0,0.75); */
    /* -moz-box-shadow: 1px 10px 20px 27px rgba(0,0,0,0.75); */
}

.card .glitch {
    font-size: 4em;
}

a:visited {
    color: var(--foreground-color)
}

a {
    color: var(--foreground-color)
}

.card a {
    font-size: 1.5em;
}

.first {
    /* position: absolute !important; */
    /* top: 100vh !important; */
}

.content-big {
    width: 80vw !important;
    left: 10vw !important;
    right: 10vw !important;
}

.content {
    position: relative;
    width: 50vw;
    left: 25vw;
    right: 25vw;
    /* height: 1000px; */
    z-index: 2;
    /* background-color: var(--background-color); */
    color: var(--foreground-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    margin-bottom: 2em;
}

/* .content {
    text-align: left;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
} */

.content section h1 {
    position: sticky;
    top: 0px;
    font-size: 3em;
    display: block;
    width: 100%;
    color: var(--accent-color);
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */
}

section p {
    font-size: 1.5em;
}

section li p {
    font-size: 1em;
}

section {
    padding: 2vw;
}

.nopad {
    padding: 0 !important;
}

.nobg {
    background-color: transparent !important;
}

.flex-container {
    display: flex;
}

sub {
    font-size: 12px;
}

.flex-container>* {
    width: 50%;
    padding: 2vw;
    text-align:justify;
}

.flex-container .left {
    order: 0;
    max-width: -webkit-fill-available;
}

.flex-container .right>* {
    max-width: -webkit-fill-available;
    /* max-width: 50%; */
}

.flex-container .right {
    order: 1;
}

code {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.7) !important;
}

.small {
    font-size: 1em !important;
}

/* ICONS */
li {
    list-style: none;
    background-blend-mode: darken;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    transition: all .1s linear;
}

/* li:hover {
    background-color: rgba(255, 255, 255, 0) !important;
} */

li::before {
    content: " ";
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
    padding-right: 0.5em;

    background-size: 2.5em;
    background-repeat: no-repeat;
}

#technologies li p {
    margin-inline-start: 2.5em;
}

#technologies li.small p {
    margin-inline-start: 1.5em;
}

#technologies li p {
    /* font-size: 1em; */
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

li.small::before {
    width: 1.5em !important;
    height: 1.5em !important;
    background-size: 1.5em !important;
}

li[data-icon='docker']:hover:not(.nohover) {
    background-color: rgb(74, 148, 230, 1);
}

li[data-icon='docker']:not(.nohover) {
    background-color: rgb(74, 148, 230, 0.5);
}

li[data-icon='docker']::before {
    background-image: url('techs/docker.svg');
}

li[data-icon='typescript']:hover:not(.nohover) {
    background-color: rgba(53, 120, 197, 1);
}

li[data-icon='typescript']:not(.nohover)  {
    background-color: rgba(53, 120, 197, 0.5);
}

li[data-icon='typescript']::before {
    background-image: url('techs/typescript.png');
}

li[data-icon='swift']:hover:not(.nohover) {
    background-color: rgba(232, 72, 53, 1);
}

li[data-icon='swift']:not(.nohover)  {
    background-color: rgba(232, 72, 53, 0.5);
}

li[data-icon='swift']::before {
    background-image: url('techs/swift.svg');
}

li[data-icon='swiftui']:hover:not(.nohover) {
    background-color: rgba(33, 67, 203, 1);
}

li[data-icon='swiftui']:not(.nohover)  {
    background-color: rgba(33, 67, 203, 0.5);
}

li[data-icon='swiftui']::before {
    background-image: url('techs/swiftui.png');
}

li[data-icon='sqlite']:hover:not(.nohover) {
    background-color: rgba(77, 146, 207, 1);
}

li[data-icon='sqlite']:not(.nohover)  {
    background-color: rgba(77, 146, 207, 0.5);
}

li[data-icon='sqlite']::before {
    background-image: url('techs/sqlite.png');
}

li[data-icon='nodejs']:hover:not(.nohover) {
    background-color: rgba(133, 177, 107, 1);
}

li[data-icon='nodejs']:not(.nohover) {
    background-color: rgba(133, 177, 107, 0.5);
}

li[data-icon='nodejs']::before {
    background-image: url('techs/nodejs.svg');
}

li[data-icon='mysql']:hover:not(.nohover) {
    background-color: rgba(33, 82, 105, 1);
}

li[data-icon='mysql']:not(.nohover) {
    background-color: rgba(33, 82, 105, 0.5);
}

li[data-icon='mysql']::before {
    background-image: url('techs/mysql.svg');
}

li[data-icon="php"]:hover:not(.nohover) {
    background-color: rgba(121, 124, 176, 1);
}

li[data-icon="php"]:not(.nohover)  {
    background-color: rgba(121, 124, 176, 0.5);
}

li[data-icon='php']::before {
    background-image: url('techs/php.svg');
}

li[data-icon='java']:hover:not(.nohover) {
    background-color: rgba(212, 57, 49, 1);
}

li[data-icon='java']:not(.nohover)  {
    background-color: rgba(212, 57, 49, 0.5);
}

li[data-icon='java']::before {
    background-image: url('techs/java.svg');
}

li[data-icon='javascript']:hover:not(.nohover) {
    background-color: rgb(213, 186, 75, 1);
    /* color: black; */
}

li[data-icon='javascript']:not(.nohover)  {
    background-color: rgb(213, 186, 75, 0.5);
    /* color: black; */
}

li[data-icon='javascript']::before {
    background-image: url('techs/javascript.svg');
}

li[data-icon='archlinux']:hover:not(.nohover) {
    background-color: rgb(69, 145, 204, 1);
}

li[data-icon='archlinux']:not(.nohover)  {
    background-color: rgb(69, 145, 204, 0.5);
}

li[data-icon='archlinux']::before {
    background-image: url('techs/arch.png');
}

li[data-icon='arduino']:hover:not(.nohover) {
    background-color: rgb(71, 154, 161, 1);
}

li[data-icon='arduino']:not(.nohover)  {
    background-color: rgb(71, 154, 161, 0.5);
}

li[data-icon='arduino']::before {
    background-image: url('techs/arduino.svg');
}

li[data-icon='github']::before {
    background-image: url('img/github.svg');
}

li[data-icon='html5']:hover:not(.nohover) {
    background-color: rgba(209, 87, 54, 1);
}

li[data-icon='html5']:not(.nohover)  {
    background-color: rgba(209, 87, 54, 0.5);
}

li[data-icon='html5']::before {
    background-image: url('techs/html5.png');
}

li[data-icon='css3']:hover:not(.nohover) {
    background-color: rgba(48, 76, 219, 1);
}

li[data-icon='css3']:not(.nohover)  {
    background-color: rgba(48, 76, 219, 0.5);
}

li[data-icon='css3']::before {
    background-image: url('techs/css3.svg');
}

.nohover {
    padding: 2vw;
}

.hide-on-mobile {
    display: initial;
}

.show-on-mobile {
    display: none;
}

video {
    z-index: 0;
}

.hide {
    display: none;
}

.grid-parent {
    /* padding-top: 2em; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-parent>* {
    padding: 10px;
    /* border-radius: 10px; */
}