@media (prefers-color-scheme: dark) {
    :root {
      --background-color-full: black;
      --background-color: black;
      
      --color-1: black;
      --color-2: rgb(0,25,0);
      --color-3: white;
      --text-color: green;
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --background-color-full: rgba(248, 229, 209, 1);
      --background-color: rgba(248, 229, 209, 0.5);
      --foreground-color: rgba(8, 26, 46, 1);
      --accent-color: #de90b0;
      --shadow-color: white;
    }
  }