@import url('systemfont.css');

body>* {
    position: relative;
    width: 60vw;
    left: 20vw;
    padding: 1em;
    margin: 1em;
    text-align: justify;
    background-color: var(--color-2);
}

body {
    background-color: var(--color-1);
    color: var(--text-color);
    /* font-family: monospace; */
    font-family: 'IBMVGA8', monospace;
    margin: 0;
}

section > h1,
section > h2
{
    border-bottom: 1px solid var(--text-color);
}

main>*, 
footer > *
{
    padding: 2em;
}

header h1 {
    display: inline;
}

header nav {
    float: right;
}

a {
    color: var(--text-color);
}

th,
td:first-child {
    background-color: var(--text-color);
    color: var(--color-2);
    font-weight: bold;
}

table {
    display: flex;
    justify-content: center;
}

#technologies ul {
    display: grid;
}

nav[name="toc"] > * {
    font-weight: bold;
}

/* IPHONE */
@media only screen
and (max-device-width : 812px) {
    body>* {
        padding: 0em;
        margin: 0em;
        margin-bottom: 1em;
        left: 0;
        right: 0;
        width: 100vw;
        /* background-color: var(--background-color-full); */
        background-color: var(--color-2);
    }
    
    header h1 {
        display: block;
    }

    header nav {
        float: unset;
        text-align: center;
    }
}

/* IPHONE */